CREATE TABLE IF NOT EXISTS payments (id INTEGER PRIMARY KEY AUTOINCREMENT, citizen_id INTEGER NOT NULL, service_type TEXT NOT NULL, amount DECIMAL(10,2) NOT NULL, currency TEXT DEFAULT 'INR', order_id TEXT UNIQUE NOT NULL, payment_id TEXT, receipt_id TEXT, signature TEXT, status TEXT DEFAULT 'created', created_at DATETIME DEFAULT CURRENT_TIMESTAMP, verified_at DATETIME, refund_id TEXT, refunded_at DATETIME, FOREIGN KEY(citizen_id) REFERENCES citizens(id));
